<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Change Password</strong>
          <small> </small>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Old Password</label>
                <input type="text" class="form-control" id="oldpass" placeholder="" maxlength=63 pattern="[a-z\d]*">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">New Password</label>
                <input type="text" class="form-control" id="newpass" placeholder="" maxlength=63 (keyup)="newpassvalid()" pattern="[a-z\d]*">
              </div>
            </div>
          </div><!--/.row-->
        </div>
        <div class="card-footer">
          <strong style="font-size:11px;color:red;" [hidden]="responsetype!=1">Wrong original password</strong>
          <strong style="font-size:11px;color:green;" [hidden]="responsetype!=2">Successfully changed password</strong>
          <br [hidden]="responsetype==0"><br [hidden]="responsetype==0">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]='!passwordisvalid' (click)="ResetPassword()"> Submit</button>
        </div>
      </div>
    </div><!--/.col-->
</div>